@import "./pages/movimientoSelector";
@import "./pages/arrastreAlInventario";
@import "./pages/sumador";

body{
    height : 100vh;
    width : 100vw;
}

.circle{
    position: absolute; //el padre debe tener position relative
    width: 80px;
    height: 80px;
    border: 5px #000000 solid;
    border-radius: 45px;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.square{
    position: absolute; //el padre debe tener position relative
    width: 80px;
    height: 80px;
    border: 5px #000000 solid;
    transform: translate(-50%,-50%);
}

*{
    margin: 0;
    box-sizing: border-box  ;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
  }
  